* {
    box-sizing: border-box;
}

.game-page{
   width: auto;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.games-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: table;
}

.games-sub-cantainer {
    display: table-cell;
    vertical-align: middle;
}

.game-holder {
    margin: auto;
    width: 100%;
    text-align: center;
}

.game-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 5px 10px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

a{
    font-family: "Roboto", "sans-serif" !important;
    text-decoration: none;
    background-color: transparent;
    /*color: #fe9104 !important;*/
}

.game-box .game-img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    transition: filter 0.2s;
    border-radius: 5px;
}

img {
    border: 0;
    vertical-align: middle;
}

.game-box.cs-text-box , .game-img {
    filter: blur(1px);
}

.game-box.cs-text-box , .game-inner {
    background-color: rgba(0, 0, 0, 0.6);
}

.game-box , .game-inner {
    width: 200px;
    height: 200px;
   /* position: absolute;*/
    z-index: 200;
    display: table;
    border-radius: 5px;
}

.game-box , .game-inner , .icn {
    display: table-row;
    vertical-align: bottom;
}

.game-box , .game-inner , .icn , .text-box {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}